.footer_container {
    background: #752C88;
}

footer {
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #40184a, black);
    color: white;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.footer_row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer_col {
    flex-basis: 25%;
    padding: 10px;
}

.footer_col:nth-child(2),
.footer_col:nth-child(3) {
    flex-basis: 15%;
}

.footer_logo {
    width: 80px;
    margin-bottom: 30px;
}

.footer_col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-size: 1.5rem;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid white;
}

.footer_ul .footer_li {
    list-style: none;
    margin-bottom: 12px;
}

.footer_ul .footer_li a {
    text-decoration: none;
    color: white;
}

.footer_form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.footer_form .fas {
    font-size: 18px;
    margin-right: 10px;
}

.footer_form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.footer_form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.footer_form button .fas {
    font-size: 16px;
    color: #ccc;
}

.footer_social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.footer_copyright {
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 35px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px
    }

    100% {
        left: 100%;
    }
}

@media screen and (max-width: 700px) {
    footer {
        bottom: unset;
    }

    .footer_col {
        flex-basis: 100%;
    }

    .footer_col:nth-child(2),
    .footer_col:nth-child(3) {
        flex-basis: 100%;
    }
}